.search-text-container {
  position: relative;
  margin: 20px 0px;
}

.search-input-container {
  padding: 10px 0px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(226, 232, 240, 0.75);
}

input.search-input {
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 90%;
}
input.search-input:focus {
  outline: none;
}
svg.search-icon {
  color: rgb(148, 163, 184);
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 10px;
}

.search-results-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-results-list li:last-child {
  border-bottom: none;
}
